* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightbrown: #B58564;
    --darkbrown: #3F352E;
    --brownies: #775236;
    --cream: #F3E9E1;
    --lightcream: #F4EEDA;
    --shinebrown: #CEAE98;
    --superlightbrown: #F6EEE8;
    --white: #FFFFFF;
    --black: #121212;
}

.nav {
    background-color: var(--brownies);
}

.nav a {
    text-decoration: none;
    color: var(--cream);
}

.nav h1 {
    margin: 1.5rem 10rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--lightcream);
}

/* Page 2 */
.contact {
    margin-top: 10rem;
}

.side-img {
    width: 40rem;
    height: 55rem;
    margin-top: -10rem;
    background-color: var(--lightbrown);
}

.side-img h1 {
    padding-top: 10rem;
    padding-left: 9rem;
    font-size: 4rem;
    color: var(--lightcream);
}

.books2 img {
    width: 30rem;
    margin-top: -35rem;
    margin-left: 5rem;
}

/* Form */

form {
    width: 47rem;
    height: 45rem;
    border-radius: 2rem;
    margin-top: -50rem;
    margin-left: 43rem;
    background-color: var(--superlightbrown);
}

.forms {
    margin-left: 3rem;
}

.signup-container{
    padding: 5%;
}

.signup-container h1 {
    margin-top: -1rem;
    line-height: 5rem;
    font-weight: 500;
    font-size: 3.5rem;
    color: var(--lightbrown);
}

.signup-container b {
    color: var(--brownies);
}

.form-label {
    font-size: 1.5rem;
    color: var(--lightbrown);
}

.row {display: flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-items: center;margin-bottom: 20px;}

.row-columns > div {width: 50%;}

p.error-msg {color: red;font-size: 16px;}

#form-control {
    width: 15rem;
}

#form-control-email {
    width: 36rem;
}

#form-control-spassword {
    width: 36rem;
}

#btn3 {
    padding: 1rem 5rem;
    margin-top: 1rem;
    background: transparent;
    font-weight: bolder;
    border: 1px solid var(--darkbrown);
    color: var(--darkbrown);
    transition: .5s;
    width: 80%;
    margin: auto;
}

#btn3:hover {
    background-color: var(--darkbrown);
    color: var(--white);
}